* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.nav-bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar ul li {
    margin-right: 20px;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
}

.nav-item {
    color: #fff;
    padding: 18px 30px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    white-space: nowrap;
}

.nav-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0%;
    height: 100%;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.head {
    margin: 10px;
    margin-right: 30px;
    font-size: 25px;

}

.image-container {
    position: relative;

}

.image-container img {
    width: 1600px;
    height: 700px;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
}

.button-overlay {
    position: absolute;
    top: 85%;
    left: 5%;
    background-color: rgb(180, 220, 221);
    padding: 10px;
    font-size: 18px;
    font-weight: 350;
    border: none;
    text-decoration: none;
    color: black;
}

.mov {
    background-color: rgb(199, 241, 241);
    margin-top: -5px;
    display: flex;
    gap: 300px;
    height: 500px;
}

.mov-text {
    padding: 20px;
    font-size: 120px;
    font-weight: 800;
}

.mov-socials {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 550;
}

.mov-add {

    margin-top: 40px;
    font-size: 20px;
    font-weight: 550;

}


.socials {
    background-color: rgb(77, 77, 243);
    color: white;
    width: 510px;
    height: 220px;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;
}

.email {
    background-color: black;
    color: white;
    width: 510px;
    height: 220px;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;
}

.book {
    background-color: rgb(187, 0, 203);
    color: white;
    width: 510px;
    height: 220px;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;
}

.boxes {
    display: flex;
}

.marquee {
    width: 100%;
    background-color: #1e40ff;
    overflow: hidden;
    white-space: nowrap;
    padding: 14px 0;
}

.marquee-content {
    display: inline-flex;
    gap: 60px;
    animation: scroll 20s linear infinite;
}

.marquee-content span {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.marquee:hover .marquee-content,
.marquee:active .marquee-content {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.who {
    display: flex;
    gap: 150px;
}

.who-img {
    height: 800px;
    width: 750px;
}

.who-text {
    font-weight: 550;
}

.who-text h1 {
    margin-top: 120px;
    font-weight: 600;
}

.about {
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    text-decoration: none;
}

.who-overlay {
    position: absolute;
    top: 1650px;
    left: 5%;
    color: white;
    font-size: 80px;
    font-weight: 600;
}

.classes {
    display: flex;
    gap: 150px;
}

.classes-img {
    width: 750px;
    height: 800px;
    margin-top: -10px;
}

.classes-overlay {
    position: absolute;
    top: 2500px;
    left: 5%;
    color: white;
    font-size: 80px;
    font-weight: 600;
}

.sophia {
    display: flex;


}

.sophia h1 {
    margin: 50px;
    white-space: nowrap;
    margin-top: 150px;
    font-weight: 700;

}


.sophia-img {
    width: 775px;
    height: 400px;
    margin-left: 445px;
}

.sophia-text {
    margin-left: 445px;
    padding: 20px;
    margin-top: -5px;
    background-color: rgb(187, 0, 203);
}

.sophia-text h4 {
    font-weight: 700;
    font-size: 25px;
}

.sophia-text p {

    font-size: 18px;
}

.alisa {
    display: flex;
}

.alisa p {
    margin: 50px;
    font-size: 25px;
    white-space: nowrap;
    margin-top: 150px;
    font-weight: 500;
}

.alisa-img {
    width: 775px;
    height: 400px;
    margin-left: 289px;
}

.alisa-text {
    margin-left: 289px;
    padding: 20px;
    margin-top: -5px;
    background-color: #1e40ff;
}

.alisa-text h4 {
    font-weight: 700;
    font-size: 25px;
}

.alisa-text h5 {

    font-size: 18px;
}

.alisa-text p {

    font-size: 18px;
}

.so {
    margin-left: 60px;
    font-size: 18px;
    font-weight: bolder;

}

.blue {
    background-color: #1e40ff;
    height: 600px;
    color: white;

}

.blue p {
    padding: 20px;
    margin: 20px;
    font-size: 40px;
    margin-left: 180px;
    margin-top: 0;
    text-align: left;
    font-weight: 700;
}

.blue-button {
    background-color: rgb(180, 220, 221);
    padding: 10px;
    font-size: 18px;
    font-weight: 350;
    border: none;
    margin: 20px;
    margin-left: 200px;
    text-decoration: none;
    color: black;
}

/* ===================== MOBILE RESPONSIVE FIX ===================== */
@media (max-width: 768px) {

    /* ---------- NAVBAR ---------- */
    .nav-bar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .nav-bar ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-item {
        padding: 14px;
        font-size: 16px;
    }

    .nav-item:not(:last-child)::after {
        display: none;
    }

    .head {
        margin: 10px 0;
        font-size: 20px;
    }


    /* HERO */
    .image-container img {
        width: 100%;
        height: 60vh;
    }

    .text-overlay {
        position: absolute;
        top: 20%;
        left: 30%;
        transform: translateX(-50%);
        font-size: 42px;
        text-align: center;
        font-weight: 500;
    }

    .button-overlay {
        top: auto;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* MOV SECTION */
    .mov {
        flex-direction: column;
        gap: 30px;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .mov-text {
        font-size: 64px;
    }

    /* BOXES */
    .boxes {
        flex-direction: column;
    }

    .socials,
    .email,
    .book {
        width: 100%;
        height: auto;
    }

    /* WHO SECTION */
    .who {
        flex-direction: column;
        gap: 40px;
    }

    .who-img {
        width: 100%;
        height: auto;
    }

    .who-overlay {
        font-size: 42px;
        bottom: 30px;
        left: 20px;
    }

    .who-text h1 {
        margin-top: 20px;
        text-align: center;
    }

    .who-text p {
        text-align: center;
    }

    /* CLASSES SECTION */
    .classes {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .classes-img {
        width: 100%;
        height: auto;
        margin: -5px;
    }

    .classes-overlay {
        position: absolute;
        top: auto;
        left: 10%;
        margin-top: 40px;
        font-size: 48px;
    }

    /* SOPHIA */
    .sophia {
        flex-direction: column;
        align-items: center;
    }

    .sophia h1 {
        margin: 20px 0;
    }

    .sophia-img {
        width: 100%;
        margin-left: 0;
    }

    .sophia-text {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    /* ALISA */
    .alisa {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .alisa p {
        margin: 20px;
        white-space: normal;
    }

    .alisa-img {
        width: 100%;
        margin-left: 0;
    }

    .alisa-text {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    /* BLUE CTA */
    .blue {
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }

    .blue p {
        font-size: 22px;
        margin-left: 0;
    }

    .blue-button {
        margin-left: 0;
        margin-top: 20px;
    }
}